<div class="relative inline-block text-left">
  <div>
    <button
      type="button"
      #buttonRef
      (click)="toggleDropdown()"
      class="inline-flex justify-center w-full rounded-full align-middle border-none shadow-lg shadow-sm bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      aria-expanded="true"
      aria-haspopup="true"
    >
      <div class="items-center flex">
        <span
          class="w-12 h-12 text-sm text-white bg-blueGray-200 inline-flex items-center justify-center rounded-full"
        >
          <img
            alt="..."
            class="w-full rounded-full align-middle border-none shadow-lg"
            src="./assets/avatar.jpeg"
          />
        </span>
      </div>
    </button>
  </div>
  <div
    *ngIf="isOpen"
    class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
  >
    <div class="py-1" role="none">
      <!-- Active: "bg-gray-100", Not Active: "" -->
      <!-- <a
        href="#"
        class="text-gray-700 block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-0"
        >Account settings</a
      >
      <a
        href="#"
        class="text-gray-700 block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-1"
        >Support</a
      >
      <a
        href="#"
        class="text-gray-700 block px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-2"
        >License</a
      > -->
      <button
        type="submit"
        class="text-gray-700 block w-full text-left px-4 py-2 text-sm"
        role="menuitem"
        tabindex="-1"
        id="menu-item-3"
        (click)="onLogout()"
      >
        Sign out
      </button>
    </div>
  </div>
</div>
