<div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
  <div
    class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
  >
    <div class="rounded-t mb-0 px-4 py-3 border-0">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full px-4 max-w-full flex-grow flex-1">
          <h3 class="font-semibold text-base text-blueGray-700">List</h3>
        </div>
        <div
          class="relative w-full px-4 max-w-full flex-grow flex-1 text-right"
        >
          <button
            class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1"
            type="button"
            style="transition: all 0.15s ease"
            (click)="onClickEvent(null, 'add')"
          >
            Tambah
          </button>
        </div>
      </div>
    </div>
    <div class="block w-full overflow-x-auto">
      <!-- Projects table -->
      <table class="items-center w-full bg-transparent border-collapse">
        <thead>
          <tr>
            @for (item of tableHeader; track $index) {
              <th
                scope="col"
                class="px-6 bg-blueGray-50 cursor-pointer text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                (click)="sort(item.columnValue)"
              >
                {{ item.columnName }}

                @if (item.columnValue !== "") {
                  @if (item.columnValue !== item.columnValue) {
                    <fa-icon [icon]="faSort"></fa-icon>
                  }

                  @if (fieldName === item.columnValue) {
                    @if (order === "asc") {
                      <fa-icon [icon]="faSortUp"></fa-icon>
                    } @else {
                      <fa-icon [icon]="faSortDown"></fa-icon>
                    }
                  }
                }
              </th>
            }
          </tr>
        </thead>
        <tbody>
          @for (item of tableData; track $index) {
            <tr
              class="hover:bg-gray-100 cursor-pointer"
              (click)="onClickEvent(item, 'preview')"
            >
              @for (column of tableHeader; track $index) {
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                  *ngIf="column.columnValue !== ''"
                >
                  @if (
                    column.columnValue !== "status" &&
                    column.columnValue !== "" &&
                    column.columnValue !== "basicSalary"
                  ) {
                    {{ item[column.columnValue] }}
                  } @else {
                    <ng-container
                      *ngTemplateOutlet="
                        otherElse;
                        context: { item: item, column: column }
                      "
                    ></ng-container>
                  }
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                  *ngIf="column.columnValue === ''"
                  (click)="$event.stopPropagation()"
                >
                  <button
                    class="cursor-pointer text-black opacity-50 px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
                    type="button"
                    (click)="onClickEvent(item, 'edit')"
                  >
                    <fa-icon [icon]="faEdit" class="text-yellow"></fa-icon>
                  </button>

                  <button
                    class="cursor-pointer text-black opacity-50 px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
                    type="button"
                    (click)="onClickEvent(item, 'delete')"
                  >
                    <fa-icon [icon]="faTrash" class="text-red-600"></fa-icon>
                  </button>
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #otherElse let-item="item" let-column="column">
  <ng-container *ngIf="column.columnValue === 'status'">
    @if (item[column.columnValue] === "Permanen") {
      Permanen
      <fa-icon [icon]="faCheck" class="text-green-500"></fa-icon>
    } @else {
      Kontrak
      <fa-icon [icon]="faTimes" class="text-red-500"></fa-icon>
    }
  </ng-container>

  <ng-container *ngIf="column.columnValue === 'basicSalary'">
    {{ item[column.columnValue] | currency: "Rp" : "symbol" : "3.0" }}
  </ng-container>
</ng-template>
