/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.bg-orange {
  background-color: #db7a2a;
}

.bg-darkblue {
  background-color: #123a6b;
}

.bg-lightblue {
  background-color: #78b3e3;
}

.text-orange {
  color: #db7a2a;
}

.text-yellow {
  color: #f7b928;
}

.text-darkblue {
  color: #123a6b;
}
